.home-container {
    text-align: center;
  }
  
  .title {
    font-size: 48px;
    color: #FF686B;
    margin-bottom: 20px;
  }
  
  .start-btn {
    background-color: #FF686B;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .start-btn:hover {
    background-color: #ff4d4f;
  }
  